@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

body {
    background-color: coral;
    background-image: url("Hong\ kong.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 50px);
    margin: 0;
    padding: 10px;
    padding-top: 40px;
  }
  
  .card {
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    font-family: "Bungee Shade", Georgia, cursive;
    font-size: 28px;
    color: #fec0ac;
  }

  h1,
  h2,
  h3,
  p,
  a {
    text-align: center;
  }
  
  h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  p,
  a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
